.divDasperguntas {
    text-align: left;
    position: relative;
    display:flex,;
    margin-left:4%;
    margin-right:4%;
    margin-top:3%; 
    justify-content:flex-start;
    align-items:center;
    /* transform: translateY(10%); */
  }
  